<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AcessoBancoDados.Properties.Settings.stringConexao"
            connectionString="Data Source=BRUNO-PC\MSSQLSERVER2014;Initial Catalog=SistemaEstoque;User ID=kuba;Password=sql123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>